<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <script>
    let dataList = ['설악산', '한라산', '북한산', '백두산', '지리산']
    document.addEventListener('DOMContentLoaded', function () {
      new Vue({
        el: '#app',
        data: {
          myArray: dataList,
          objArray: [
            { name: '슈크림빵', price: 1000 },
            { name: '단팥빵', price: 2000 },
            { name: '소보로빵', price: 1500 }
          ]
        }
      })
    })
  </script>
  <div id="app">
    <ul>
      <h3>배열을 이용한 for 디렉티브</h3>
      <li v-for="item in myArray">{{item}}</li>
    </ul>
    <ul>
      <h3>객체로 값을 구성한 배열을 이용한 for 디렉티브</h3>
      <li v-for="item in objArray">{{item.name}} | {{item.price}}</li>
    </ul>
    <ul>
      <h3>단순히 태그를 반복하는 경우(반복횟수지정)</h3>
      <li v-for="n in 5">{{n}}X3={{n*3}}</li>
    </ul>
    <ul>
      <li v-for="(item,index) in myArray">{{index+':'+item}}</li>
    </ul>
  </div>
  <br><br>
  <hr>
  <h4>(6.30.)</h4>
  <h1>테이블만들기</h1>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let headerD = ['프로그래밍언어', 2018, 2013, 2008, 2003, 1998];
      let rankD = [
        ['Java', 1, 2, 1, 1, 16],
        ['C', 2, 1, 2, 2, 1],
        ['C++', 3, 4, 3, 3, 2],
        ['Python', 4, 7, 6, 11, 23],
        ['JavaScript', 7, 10, 8, 7, 20]
      ];
      new Vue({
        el: '#app2',
        data: {
          header: headerD,
          rank: rankD
        }
      })
    })
  </script>
  <div id="app2">
    <h3>관심받고 있는 언어 랭킹</h3>
    <table border="1px">
      <thead>
        <th v-for="item in header" align="center">{{item}}</th>
      </thead>
      <tbody>
        <tr v-for="line in rank" align="center">
          <td v-for="item in line">{{item}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br><br>
  <hr>
  <h1></h1>
  <script>
    let data = ['하나', '둘', '셋', '넷', '다섯']
    // 자바스크립트로 구현
    // 이 함수들은 태그에서 직접 소환하기 때문에 DOMContentLoaded이벤 밖에 먼저 선언되어야 함
    function init() {
      data.forEach((val, idx) => {
        let liTag = document.createElement('li')
        liTag.textContent = val;
        document.getElementById('app3').querySelector('ul').appendChild(liTag)
      })
    }
    function addLast() {
      data.push('[맨 뒤에 추가]')
      console.log(data)
    }
    function addObj(index) {
      data.splice(index, 0, '[추가]')
      console.log(data)
    }
    function changeObj(index) {
      data.splice(index, 1, '[변경]')
      console.log(data)
    }
    function deleteObj(index) {
      data.splice(index, 1)
      console.log(data)
    }



    // Vue.js로 구현
    document.addEventListener("DOMContentLoaded", function () {
      // init();
      new Vue({
        el: '#app3',
        data: {
          myArray: data
        },
        methods: {
          addLast: function () {
            this.myArray.push('[맨 뒤에 추가]')
          },
          addObj: function (index) {
            this.myArray.splice(index, 0, '[추가]')
          },
          changeObj: function (index) {
            this.myArray.splice(index, 1, '[변경]')
          },
          deleteObj: function (index) {
            this.myArray.splice(index, 1)
          }

        }
      })
    })
  </script>
  <div id="app3">
    <h3>목록을 구성하는 데이터 변경 시 목록 업데이트</h3>
    <ul>
      <li v-for="item in myArray">{{item}}</li>
    </ul>
    JS로 구현
    <button onclick="addLast()">맨 뒤에 추가</button>
    <button onclick="addObj(3)">네 번째에 추가</button>
    <button onclick="changeObj(0)">첫 번째를 변경</button>
    <button onclick="deleteObj(1)">두 번째를 삭제</button>
    <br>Vue.js로 구현
    <button @click="addLast">맨 뒤에 추가</button>
    <button @click="addObj(3)">네 번째에 추가</button>
    <button @click="changeObj(0)">첫 번째를 변경</button>
    <button @click="deleteObj(1)">두 번째를 삭제</button>
  </div>
</body>

</html>