<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrdersDAO">

<!-- 등록 -->
<insert id="insertOrders">
	INSERT INTO TBL_ORDERS (ORD_NO,
						CUSTOMER,		
						ORD_DTTM,
						ORD_GOODS,
						ORD_CNT,		
						ORD_PRICE)
			VALUES ( #{ord_no},
			         #{customer},
				     sysdate,
				     #{ord_goods},
				     #{ord_cnt},
				     #{ord_price}
				)
				
</insert>
</mapper>













