<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.EmpMapper">

  <select id="getEmp" resultType="EmpVO">
    SELECT *
    FROM employees
    WHERE employee_id = #{employeeId} 
  </select>

  <select id="getEmpList" resultType="EmpVO">
    SELECT rownum id, e.*
    FROM employees e
  </select>
  
  <!-- 부서리스트 -->
  <select id="getDepartments" resultType="DepVO">
    select * from departments order by department_id
  </select>
  
  
  <!-- 직무 리스트 -->
  <select id="getJobs" resultType="JobVO">
    select * from jobs order by job_id
  </select>
  
  <insert id="empInsert">
    insert into employees(employee_id, first_name, last_name, email, hire_date, job_id, department_id)
    values(#{employeeId}, #{firstName}, #{lastName}, #{email}, #{hireDate}, #{jobId}, #{departmentId})
  </insert>
  
  
</mapper>