<html xmlns:th="http://www.thymeleaf.org">
<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
	$(function() {
// 		$('#myTable').DataTable();

		// 검색기능 방법1
// 		$('[name="type"]').val('${cri.type}')

		// 검색기능 방법2: html부분에 if 추가
		// <c:if test="${cri.type=='title' }">selected</c:if>
		
		
		
		// 수정, 삭제 메시지 출력
		var result1 = '${result1}'
		var result2 = '${param.result2}'
		
		if(result1 != ''){
		  const myModal = new bootstrap.Modal('#staticBackdrop', {})
		  const modal = document.getElementById("staticBackdrop");
		  $("#msg").html(result1);
		  myModal.show(modal);
		}
		
	});
	
	function goPage(num){
		searchFrm.pageNum.value = num;
		searchFrm.submit();
			
// 			location.href="boardList?pageNum=" + num
	}
		

</script>
<!-- https://getbootstrap.com/docs/5.2/components/card/ -->
<div class="card">
  <div class="card-header">
    <!-- 검색기능 -->
    <form name="searchFrm">
      <input type="hidden" name="pageNum" value="1"> <select name="type">
        <option value="title" <c:if test="${cri.type=='title' }">selected</c:if>>제목
        <option value="content" <c:if test="${cri.type=='title' }">selected</c:if>>내용
        <option value="writer" <c:if test="${cri.type=='title' }">selected</c:if>>작성자
      </select> <input name="keyowrd" value="${cri.keyword }">
      <button>검색</button>
    </form>
  </div>
  
  <div class="card-body">
    <!-- 부트스트랩5: https://getbootstrap.com/docs/5.2/content/tables/ -->
    <table id="myTable" class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th>bno</th>
          <th>제목</th>
          <th>작성자</th>
          <th>등록일</th>
          <th>수정일</th>
        </tr>
      </thead>
        <tr th:each="item : ${boards}">
          <td th:text="${item.bno }"></td>
          <td th:text="${item.title }"></td>
          <td th:text="${item.writer }"></td>
          <td th:text="${#calendars.format(item.regDate,'yyyy-MM-dd hh:mm')}"></td>
          <td th:text="${#calendars.format(item.updateDate,'yyyy-MM-dd hh:mm')}"></td>
        </tr>
    </table>
    
    <nav aria-label="Page navigation example">
      <ul class="pagination">
    
        <li th:if="${pageMaker.prev }" class="page-item">
          <a class="page-link" href="#" th:onclick="|goPage(${pageMaker.startPage }-1)|">Previous</a>
        </li>
    
        <li th:each="num : *{#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" class="page-item">
          <a class="page-link" href="#" th:onclick="|goPage(${num})|" th:text="${num}"></a>
        </li>
    
        <li th:if="${pageMaker.next }" class="page-item">
          <a class="page-link" href="#" th:onclick="|goPage(${pageMaker.endPage }+1)|">Next</a>
        </li>
    
      </ul>
    </nav>
    
  </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="msg"></div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

</html>