<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h2>간단한 게시판</h2>
  <div id="app">
    <p>게시판 데이터 json 파일 읽기</p>
    <input type="file" @change="loadData($event)">
    <button>게시판 저장하기</button>
    <my-board-list v-if="listOk" :object="dataArray['board']" @board-read="boardRead" @board-write="boardWrite"
      @board-delete="boardDelete"></my-board-list>
    <my-board-read v-if="readOk" :object="boardInfo" @board-list="boardList"></my-board-read>
    <my-board-write v-if="writeOk" :object="" @board-list="boardList" @board-save="boardSave"></my-board-write>
  </div>

  <script>
    // 게시판 목록 조회 -> 컴포넌트화
    const myBoardList = {
      template: `<div>
                  <table id="list">
                    <tr>
                      <th style="width:50px">글번호</th>
                      <th>글제목</th>
                      <th style="width:50px">조회수</th>
                      <th style="width:70px"></th>
                    </tr>
                    <tr v-for="item in object" :key="item.no">
                      <td>{{item.no}}</td>
                      <td @click="boardRead(item)">{{item.title}}</td>
                      <td>{{item.view}}</td>
                      <td><button @click="boardDelete(item.no)">삭제</button></td>
                    </tr>
                  </table>
                  <button style="float:right" @click="boardWrite">글쓰기</button>
                </div>`,
      props: ['object'],
      methods: {
        boardRead: function (info) {
          this.$emit('board-read', info)
        },
        boardDelete: function (no) {
          this.$emit('board-delete', no)
        },
        boardWrite: function () {
          this.$emit('board-write')
        }
      }
    }

    // 게시판 글 조회
    const myBoardRead = {
      template: `<div>
                  <table id="list">
                    <tr>
                      <td style="width:50px">글제목</td>
                      <td>{{object.title}}</td>
                    </tr>
                    <tr style="height:300px">
                      <td colspan="2">{{object.content</td>
                    </tr>
                  </table>
                  <button style="float:right" @click="boardList">목록</button>
                </div>`,
      props: ['object'],
      methods: {
        boardList: function () {
          this.$emit('board-list')
        }
      }
    }

    // 게시판 글 쓰기
    const myBoardWrite = {
      template: `<div>
                  <table id="list">
                    <tr>
                      <td>글제목</td>
                      <td><input type="text" style="width:90%" v-model="text"></td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <textarea style="width:100%" v-model="content"></textarea>
                      </td>
                    </tr>
                  </table>
                  <button style="float:right" @click="boardList">목록</button>
                  <button style="float:right" @click="boardSave">저장</button>
                </div>`,
      data: function () {
        return {
          title: '',
          content: ''
        }
      },
      methods: {
        boardList: function () {
          this.$emit('board-list')
        },
        boardSave: function () {
          this.$emit('board-save', this.title, this.content)
        }
      }
    }

    new Vue({
      el: '#app',
      data: {
        listOk: false,
        readOk: false,
        writeOk: false,
        dataArray: [],
        boardInfo: {}
      },
      components: {
        'my-board-list': myBoardList,
        'my-board-read': myBoardRead,
        'my-board-write': myBoardWrite
      },
      methods: {
        loadData: function (event) {
          // 파일을 가져옴
          let file = event.target.file[0];
          // file이 true면
          if (file) {
            fetch(file)
              .then(res => res.json())
              .then(data => {
                this.dataArray = data;
                if (this.dataArray != null && this.dataArray['board'].length > 0) {
                  this.listOk = true;
                }
              }).catch(err => console.log(err))

          }
        }
      }
    })









  </script>
</body>

</html>